{{ define "layout" }}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Go Web Programming</title>
</head>
<body>
  {{ template "content" }}
</body>
</html>

{{ end }}

<!--
{{ define "content" }}

Hello World!

{{ end }}
-->
