<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Go Web Programming</title>
</head>
<body>
  <ul>
  {{ range . }}
    <li> {{ . }} </li>
  {{ else }}
    <li> Nothing to show </li>
  {{ end }}
  </ul>
</body>
</html>
