<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Go Web Programming</title>
</head>
<body>
  <h1>Hello World</h1>
  <div>The date/time is {{ . | fmtDate }}</div>
  <div>The date/time is {{ fmtDate . }}</div>
</body>
</html>
