<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Go Web Programming</title>
</head>
<body>
<form action=http://127.0.0.1:8080/process?hello=world&thread=123" method="post" enctype="application/x-www-form-urlencoded">
  <input type="text" name="hello" value="world">
  <input type="text" name="post" value="456">
  <button type="submit">Submit</button>
</form>  
