<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Mosaic</title>
    <!-- material icons -->
    <link href="/static/css/material-icons-3.0.1.min.css" rel="stylesheet">
    <!-- style sheet for materializecss -->
    <link href="/static/css/materialize-0.100.1.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
<div class='container'>
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="data:image/jpg;base64,{{ .original }}">
                </div>
                <div class="card-content">
                    Original
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="data:image/jpg;base64,{{ .mosaic }}">
                </div>
                <div class="card-content">
                    Mosaic - {{ .duration }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <a class="btn" href="/">Go Back</a>
        </div>
    </div>
</div>

<!-- jquery -->
<script src="/static/js/jquery-3.2.1.min.js"></script>
<!-- script for materializecss -->
<script src="/static/js/materialize-0.100.1.min.js"></script>
</body>
</html>
