{{ define "content" }}
<p class="flow-text">
  <a href="/thread/new">Start a thread</a> or join one below!
</p>

<ul class="collapsible" data-collapsible="accordion">
{{ range . }}
    <li>
      <div class="collapsible-header"><i class="material-icons">chat</i>{{ .Topic }}</div>
      <div class="collapsible-body">
          Started by {{ .User.Name }} - {{ .CreatedAtDate }} - {{ .NumReplies }} posts.
          <div class="right-align">
              <a href="/thread/read?id={{ .Uuid }}">Read more</a>
          </div>
      </div>
    </li>
{{ end }}
</ul>
{{ end }}