{{ define "layout" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChitChat</title>
    <!-- material icons -->
    <link href="/static/css/material-icons-3.0.1.min.css" rel="stylesheet">
    <!-- style sheet for materializecss -->
    <link href="/static/css/materialize-0.100.1.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
{{ template "navbar" . }}

<div class="container">

    {{ template "content" . }}

</div> <!-- /container -->
<!-- jquery -->
<script src="/static/js/jquery-3.2.1.min.js"></script>
<!-- script for materializecss -->
<script src="/static/js/materialize-0.100.1.min.js"></script>
<script>
    $(document).ready(function(){
    $(".button-collapse").sideNav();
    });
</script>
</body>
</html>

{{ end }}