{{ define "content" }}

<section class="row">
    <form role="form" class="col s6 offset-s3 m4 offset-m4" action="/authenticate" method="post">
        <div class="row">
            <h2> ChitChat </h2>
        </div>
        <div class="input-field">
            <input id="email" type="email" name="email" required autofocus>
            <label for="email">Email Address</label>
        </div>
        <div class="input-field">
            <input id="pwd" type="password" name="password" required>
            <label for="pwd"></label>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <button class="btn" type="submit">Sign in</button>
            </div>
            <div class="col s12 m6">
                <a class="btn blue" href="/signup">Sign up</a>
            </div>
        </div>
    </form>
</section>

{{ end }}