{{ define "content" }}

<section class="row">
    <form role="form" class="col s6 offset-s3 m4 offset-m4" action="/thread/create" method="post">
        <div class="row">
            <p class="flow-text"> Start a new thread with the following topic </p>
        </div>
        <div class="input-field">
            <textarea class="materialize-textarea" name="topic" id="topic" rows="4"></textarea>
            <label for="topic">Thread topic here</label>
        </div>
        <div class="row right-align">
            <button class="btn" type="submit">Start this thread</button>
        </div>
    </form>
</section>
{{ end }}