{{ define "navbar" }}

<nav class="navbar-fixed">
  <div class="nav-wrapper container">
    <a href="#!" class="brand-logo"><i class="material-icons">chat_bubble_outline</i>ChitChat</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="hide-on-med-and-down right">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</nav>

{{ end }}