{{ define "content" }}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ .Topic }}</span>
                <div class="right-align">
                    Started by {{ .User.Name }} - {{ .CreatedAtDate }}
                </div>
                {{ range .Posts }}
                <div class="row">
                    <span> <i class="material-icons">chat</i> {{ .Body }}</span>
                    <div class="right-align">
                        {{ .User.Name }} - {{ .CreatedAtDate }}
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>

{{ end }}