{{ define "content" }}

<section class="row">

    <form class="col s6 offset-s3 m4 offset-m4" role="form" action="/signup_account" method="post">
        <div class="row">
            <h2> ChitChat </h2>
        </div>
        <div class="row">Sign up for an account below</div>
        <div class="input-field">
            <input id="name" type="text" name="name" required autofocus>
            <label for="name">Name</label>
        </div>

        <div class="input-field">
            <input id="email" type="email" name="email" required>
            <label for="email">Email Address</label>
        </div>
        <div class="input-field">
            <input id="pwd" type="password" name="password" required>
            <label for="pwd">Password</label>
        </div>
        <button class="btn" type="submit">Sign up</button>
    </form>
</section>

{{ end }}