<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Go Web Programming</title>
</head>
<body>
  <div>The dot is {{ . }}</div>
  <div>
    {{ with "world" }}
    Now the dot is {{ . }}
    {{ end }}
  </div>
  <div>The dot is {{ . }} again</div>
  <hr>
  <div>The dot is {{ . }}</div>
  <div>
    {{ with "" }}
      Now the dot is {{ . }}
    {{ else }}
      The dot is still {{ . }}
    {{ end }}
  </div>
  <div>The dot is {{ . }} again</div>
</body>
</html>
