<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Go Web Programming</title>
</head>
<body>
  {{ if . }}
    Number is greater than 5!
  {{ else }}
    Number is 5 or less.
{{ end }}
</body>
</html>
